body {
    margin: 0;
    padding: 0;
    background-color: #fcdb03;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
.content{
    margin-left: 25%;
    margin-top: 15%;
    /* margin-bottom: ; */
    background-color: #ebe8d8;
    padding: 20px;
    width: 50%;
}

#display{
    width: 50%;
}

#slider{
    width: 50%;
}

#length{
    display: inline-block;
    width: 50px;
}

